@import url(https://fonts.googleapis.com/css2?family=Comfortaa);

@font-face {
  font-family: "Regista";
  src:url(Regista.ttf);
  font-weight: normal;
  box-sizing: border-box;
}

.text {
  font-family: Comfortaa;
  box-sizing: border-box;
  text-align: center;
  color: rgb(28, 28, 28);
  font-size: small;
  margin-top: 0px;
}

body {
    background-image: url('bg.svg');
    background-repeat: repeat;
    background-size: 88px;
    background-position: center;
}

:root {
    --bg: yellow;

  label {
    color: white;
    font-size: 1.5rem;
  }

  input {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .confetti-container {
    user-select: none;
    pointer-events: none;
    z-index: 10;
  }
  .confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
  }

  .confetti .square {
    width: 1rem;
    height: 1rem;
    background-color: var(--bg);
    transform: rotate(140deg);
  }

  .confetti .rectangle {
    width: 1rem;
    height: 0.5rem;
    background-color: var(--bg);
  }

  .confetti i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: confetti;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: calc(60s / var(--speed));
  }
  .confetti i:nth-child(even) {
    transform: rotate(90deg);
  }
  @keyframes confetti {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(100vh);
    }
  }
}

.box {
  width: 20rem;
  height: 10rem;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Add this line */
  background-color: whitesmoke;
  opacity: 75%;
  border: 1px solid gray;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(206, 206, 206);
}


.heading {
  font-family: "Regista";
  color: rgb(28, 28, 28);
  text-align: center;
  font-size: xx-large; 
  padding: 0px; 
  margin: 0px; 
}

.form {
  font-family: Comfortaa;
  box-sizing: border-box;
  text-align: center;
  color: rgb(28, 28, 28);
  font-size: medium;
}

.btn {
  margin-top: 10px;
  font-family: Comfortaa;
  color: rgb(253, 245, 245);
  padding: 5px;
  background-color: rgb(149, 149, 149);
  border-radius: 5px 5px 5px;
  border: 1px;
}